<h1>Time remaining in the Bay area</h1>
<div id="clockdiv">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>
<p>Built by Red Hendery using <a href="https://nodejs.org/" target="blank"> Node</a>,
  <a href="http://expressjs.com/" target="blank">Express</a>,
  <a href="http://handlebarsjs.com/" target="blank">Handlebars</a>,
  <a href="https://github.com/redhendery/countdownTimer" target="blank">Github</a> and hosted on
  <a href="https://www.heroku.com/" target="blank">Heroku</a>.
</p>
