<h1>Time remaining in the Bay Area</h1>
<div id="clockdiv">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>

<div class="about">
  <p>I am an experienced web developer from Wellington, New Zealand who is looking for work in the Bay Area.</p>
  <p>The timer you see is a realtime countdown until my flight home on December 4th.</p>
  <p>I love hockey. Let's talk.</p>
  <div class="list-group">
    <a class="list-group-item" href="tel:669-210-2403"><i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp; Call me!</a>
    <a class="list-group-item" href="sms:669-210-2403"><i class="fa fa-file-text fa-fw" aria-hidden="true"></i>&nbsp; SMS Me!</a>
    <a class="list-group-item" href="mailto:redhendery@gmail.com?subject=Great%Countdown%Timer%Lets%Meet"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i>&nbsp; Email me!</a>
    <a class="list-group-item" href="https://github.com/redhendery/" target="blank"><i class="fa fa-github fa-fw" aria-hidden="true"></i>&nbsp; Github</a>
    <a class="list-group-item" href="https://nz.linkedin.com/in/red-hendery-a6672799" target="blank"><i class="fa fa-linkedin fa-fw" aria-hidden="true"></i>&nbsp; LinkedIn</a>
  </div>
</div>
