<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='css/style.css' type='text/css' />
  </head>
  <body>
    <div class="content">
      {{{body}}}
    </div>
    <footer class="footer">
      I'm a sticky footer and this page is responsive. This page doesn't need a footer. Especially one that's this colour. It is held in place using Flexbox.
    </footer>
    <script src='js/countdownTimer.js'></script>
  </body>
</html>
