<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='css/style.css' type='text/css' />
    <script src="https://use.fontawesome.com/8261fcb016.js"></script>
  </head>
  <body>
    <div class="content">
      {{{body}}}
    </div>
    <footer>
      <ul>
        <li><i class="fa fa-phone fa-2x" aria-hidden="true"></i><a href="tel:669-210-2403">  Call me!</a></li>
        <li><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i><a href="sms:669-210-2403">  SMS me!</a></li>
        <li><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i><a href="mailto:redhendery@gmail.com?subject=Great%Countdown%Timer%Lets%Meet">  Email me!</a></li>
        <li><i class="fa fa-github fa-2x" aria-hidden="true"></i><a href="https://github.com/redhendery/" target="blank">  Github</a></li>
        <li><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i><a href="https://nz.linkedin.com/in/red-hendery-a6672799" target="blank">  LinkedIn</a></li>
      </ul>
    </footer>
    <script src='js/countdownTimer.js'></script>
  </body>
</html>
