<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='css/style.css' type='text/css' />
  </head>
  <body>
    <div class="content">
      {{{body}}}
    </div>
    <footer class="footer">
      Built by Red Hendery using Node, Express, Handlebars, Github and hosted on Heroku.
    </footer>
    <script src='js/countdownTimer.js'></script>
  </body>
</html>
