<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='css/style.css' type='text/css' />
    <script src="https://use.fontawesome.com/8261fcb016.js"></script>
  </head>
  <body>
    <div class="content">
      {{{body}}}
    </div>
    <footer>
      <p>Built by Red Hendery using Node, Express, Handlebars, Github and hosted on Heroku.</p>
    </footer>
    <script src='js/countdownTimer.js'></script>
  </body>
</html>
